body {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/A1r0FJcw5NL._SL1500_.jpg");
}

h1 {
    text-align: center;
    color: hotpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-size-adjust: auto;
    font-size: 40px;
}

h4 {
    text-align: center;
    color: hotpink; 
}

.choice {
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.game-content {
    background-color: white;
    opacity: .95;
    overflow-wrap: auto;
    margin: auto;
    margin-top: 30px;
    max-width: 900px;
    min-width: 500px;
    max-height: 900px;
    min-height: 500px;
    padding: 20px;
    border-style: inset;
    border-width: 10px;
    border-color: deeppink;
}

