body {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/A1r0FJcw5NL._SL1500_.jpg");
}

h1 {
    text-align: center;
    color: deeppink;
    text-size-adjust: auto;
    font-size: larger;
    font-weight: bold;
}

h4 {
    text-align: center;
    color: rgba(255, 20, 145, 0.863); 
    padding-bottom: 10px;
}

p {
    text-align: center;
    color:deeppink; 
    font-size: larger;
}

.choice:hover {
    background-color: rgb(224, 191, 3);
}

.choice {
    border: 1.5px solid rgba(233, 199, 7, 0.808);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.game-content {
    background-color: white;
    opacity: .99;
    margin: auto;
    margin-top: 30px;
    max-width: 800px;
    min-width: 300px;
    max-height: 900px;
    min-height: 500px;
    padding: 20px;
    border-style: inset;
    border-width: 10px;
    border-color: deeppink;
}

#time {
    text-align: center;
    font-size: larger;
    color:  rgb(224, 191, 3);
    padding: 10px;
} 

.centered {
    text-align: center;
}

#button {
    background-color: rgb(224, 191, 3);
    color: deeppink;
    padding: 5px;
    border-color: rgb(224, 191, 3);
    text-align: center;
    font-size: larger;
}

#question-counter {
    color: goldenrod;
    font-size: smaller;
}